
body{
    background-image: linear-gradient(to bottom, yellowgreen, white);
    background-color: yellowgreen;
}

ul {
    list-style: none;
    li{
        padding: 15px;
        display: inline-block;
    }
    a{
        text-decoration: none;
        font-size: 16px;
        color: #444444;
    }
}

.header__menu{
    display: flex;
    flex-direction: row;
    /*justify-content: end;*/
}

.header__menu__logo{
    width: 150px;
    /*justify-content: start;*/
}

.header__menu_links{
    text-transform: uppercase;
    text-decoration: none;
    background-color: green;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
}

.header__menu_links:hover{
    background-color: darkgreen;
    border-radius: 12px;
    text-decoration: underline;
}

.header__menu_links--activo{
    background-color: darkolivegreen;
    font-size: 22px;
}

.footer{
    background-color: black;
    color: blanchedalmond;
}

.main__p{
    font-size: medium;
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
}

.main_pp{
    color: midnightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.footer_color{
    background: rgb(196, 101, 47);
}

.footer__p{
    font-size: x-large;
    color:blue
}

.texto__destacado{
    background:gold
}   

.main__h1{
    font-size: xx-large;
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.footer__h5{
    font-size: xx-large;
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer__h2{
    font-size: x-large;
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
}

.main__h1{
    font-size: xx-large;
    color: gold;
    font-family:sans-serif;
    font-weight: bold;
}

.div__p{
    color: darkblue;
    font-weight: bold;

}

@for $i from 1 through 3 {
    .casitodos-#{$i} {width:2em *$i}
}


